<h2 class="dialog-heading" style="color:black;">More Information (Notes)</h2>
<p class="dialog-sub-heading">{{itemName}}</p>

<mat-dialog-content class="dialog-content" #formContainer>
  <form class="form-flex" style=" border-style: outset;">
    <mat-form-field appearance="fill" class="full-width grow-textarea">
      <label for="description" class="textarea-label">Notes</label>
      <textarea matInput [rows]="rowsTxtArea" [(ngModel)]="infoDetails" name="description"
        class="textarea-fill"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>