/* You can add global styles to this file, and also import other style files */
.body-background-gradient-a {
  background: linear-gradient(to right, #71e6ed, #a57efd)!important;
}
.body-background-gradient-b {
      background: linear-gradient( to right, #afffd073, #3c80a787) !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
